{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Tutors, Online Tutors &amp; Part Time Teaching Jobs website.</title>

    <meta name="keywords" content="Home Tuition, Home Tution, Home Tutor, Part Time Tutoring Jobs, Coaching at Home, Learn at home, Online Tuitions, Online Tutions, Online Tutors, Teach at Home." />
    <meta name="description" content="We help students and tutors find each other. Students can find tutors for all subjects and tutors can find home tuition needs posted by students." />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=1, minimum-scale=1,user-scalable=no" />
    <link rel="icon" href="https://static.hometutorsite.com/content/images/common-sm/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/custom/bootstrap.min.css" />
    <link rel="manifest" href="/manifest.json" />

    <link href="https://static.hometutorsite.com/content/css/main-26may17.css" rel="stylesheet" type="text/css" />

    <link href="https://static.hometutorsite.com/content/css/custom-20aug2018.css" rel="stylesheet" type="text/css" />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KTDR77M");
    </script>
    <!-- End Google Tag Manager -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Ads: 955026931 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-955026931"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "AW-955026931", { allow_enhanced_conversions: true });
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTDR77M" height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="wrap">
      <div id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
          <div class="collapse navbar-collapse navbar-left">
            <ul class="nav navbar-nav">
              <li>
                <a href="/" class="nav-home"> <span class="common-sm-sprite home-nav"></span> Home </a>
              </li>

              <li>
                <a href="/" class="nav-home"> How It Works </a>
              </li>

              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-hover="dropdown" id="nav-bar-more">Explainer Videos<b class="caret"></b></a>
                <div class="dropdown-menu dropdown-mega-menu" role="menu" aria-labelledby="nav-bar-more">
                  <div class="mega-menu-block nav-vertical">
                    <ul class="more-menu">
                      <li>
                        <a href="/" class="nav-home" target="_blank"> For Students/Parents </a>
                      </li>
                      <li>
                        <a href="/" class="nav-home" target="_blank"> For Tutors </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li>
                <a href="/studentsignup/" class="nav-home"> I Need A Tutor </a>
              </li>
              <li>
                <a href="/tutorsignup/" class="nav-home"> Join As Tutor </a>
              </li>
              <li>
                <a href="/" class="nav-home">Online Tuitions</a>
              </li>
              <li><a href="/">Pricing</a></li>

              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-hover="dropdown" id="nav-bar-more">More<b class="caret"></b></a>
                <div class="dropdown-menu dropdown-mega-menu" role="menu" aria-labelledby="nav-bar-more">
                  <div class="mega-menu-block nav-vertical">
                    <ul class="more-menu">
                      <li><a href="/">Find Tutor By Id</a></li>
                      <li><a href="/">Find Tuition By Id</a></li>
                      <li><a href="/home/faqs/">FAQs</a></li>

                      <li><a href="/">Blog</a></li>
                      <li><a href="/">Testimonials</a></li>
                      <li><a href="/">About Us</a></li>
                      <li><a href="/">Contact Us</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
          <div class="logo-sm visible-xs">
            <a href="/">
              <span class="logo">
                <img src="https://static.hometutorsite.com/content/images/common-sm/transparent.png" class="img-responsive home-sprite home-logo-image" alt="Home Tutor Site logo" width="1" height="1" />
              </span>

              <p>Home Tutor Site</p>
            </a>
          </div>

          <style>
            sup {
              background-color: #fa3e3e;
              border-radius: 2px;
              color: #fff;
              padding: 0px 3px;
              top: -15px;
              left: -5px;
            }

            #notif-data {
              width: 17em;
              height: 20em;
              line-height: 2em;
              padding: 0;
              margin: 0;
              overflow: scroll;
              overflow-x: hidden;
            }

            #notif-data li {
              background: #d5d5d5;
              border-radius: 10px;
              border-bottom: 2px solid #fff;
            }

            @media only screen and (max-width: 600px) {
              .modal-450 {
                width: 100% !important;
              }

              #TuitionFeedBackReason {
                width: 100% !important;
              }
            }

            .notif-small-size {
              margin-top: 11px;
              float: left;
              display: inline;
            }

            .login-signup-small {
              float: left;
              display: inline;
            }

            .notif-data li a {
              white-space: normal;
              float: left;
              width: 100%;
              height: auto;
              word-wrap: break-word;
            }
          </style>

          <div class="header-right-pane">
            <div class="header-right-pane1"></div>

            <div class="login-signup-block">
              <div class="login-signup-lg hide-480">
                <div class="top-login-reg-btn">
                  <div class="dropdown epropagation-block">
                    <button id="login-btn" type="button" class="btn btn-login dropdown-toggle" data-toggle="dropdown">
                      <img src="https://static.hometutorsite.com/content/images/common-sm/transparent.png" class="img-responsive common-sm-sprite user-login-icon" alt="Home Tutor Site login" width="1" height="1" /><span class="hide-480">Log in</span>
                    </button>
                    <div class="dropdown-menu epropagation-content login-dropdown-menu">
                      <form action="/signin/" class="form-validation" id="login-form-popup" method="post" name="login-form-popup">
                        <input id="" type="text" name="username" size="30" class="form-control validate[required] form-control-border" placeholder="Email or Mobile Number" data-errormessage-value-missing="Email or Mobile Number is required" />
                        <input id="" type="password" name="password" size="30" class="form-control validate[required] form-control-border" placeholder="Password" data-errormessage-value-missing="Password is required" />
                        <input id="LoginRememberMe" type="checkbox" name="LoginRememberMe" value="1" checked />
                        <label class="string optional" for="LoginRememberMe"> Remember me </label>
                        <!-- <a class="pull-right" href="/account/forgotpassword">Forgot password?</a> -->
                        <div class="height-10"></div>
                        <input class="btn btn-primary btn-block btn-blue" type="submit" name="commit" value="Log in" />
                      </form>
                    </div>
                  </div>
                  <div class="dropdown epropagation-block">
                    <button id="sign-up-btn" type="button" class="btn btn-sign-up dropdown-toggle" data-toggle="dropdown">
                      <img src="https://static.hometutorsite.com/content/images/common-sm/transparent.png" class="img-responsive common-sm-sprite user-reg-icon" alt="Home Tutor Site registration" width="1" height="1" /><span class="hide-480">Sign Up</span>
                    </button>
                    <div class="dropdown-menu epropagation-content reg-dropdown">
                      <div style="text-align: center">
                        <div class="usersignupbg" style="background-color: #f6f6f6; padding: 10px; border: solid 1px #e8e8e8">
                          <p class="user-q">Are you a student / parent</p>
                          <div class="home-user-heading" style="margin-bottom: 0px">
                            <h3 style="font-size: 16px; color: #325d7d; margin-bottom: 12px">Looking for Home Tutors?</h3>
                          </div>
                          <a href="/studentsignup/" class="nav-home">
                            <input class="btn btn-primary btn-block btn-blue btn-orange" type="submit" name="commit" value="POST TUITION NEEDS FOR FREE" />
                          </a>
                        </div>
                        <div class="height-10"></div>
                        <div class="usersignup-bg" style="background-color: #f6f6f6; padding: 10px; border: solid 1px #e8e8e8">
                          <p class="user-q">Are you a Home Tutor</p>
                          <div class="home-user-heading" style="margin-bottom: 0px">
                            <h3 style="font-size: 16px; color: #325d7d; line-height: 20px; margin-bottom: 12px">Looking for Students?</h3>
                          </div>
                          <a href="/tutorsignup/" class="nav-home">
                            <input class="btn btn-primary btn-block btn-blue btn-orange" type="submit" name="commit" value="Join As Tutor - FREE" />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="login-signup-xs visible-480">
                <div class="login-signup-dropdown login-signup-small">
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="common-sm-sprite user-login-reg"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#" class="nav-home">
                          <img src="https://static.hometutorsite.com/content/images/common-sm/transparent.png" class="img-responsive common-sm-sprite user-login-icon" alt="Home Tutor Site login" width="1" height="1" />
                          Login
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-home">
                          <img src="https://static.hometutorsite.com/content/images/common-sm/transparent.png" class="img-responsive common-sm-sprite user-reg-icon" alt="Home Tutor Site registration" width="1" height="1" />
                          Sign Up
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <script type="text/javascript">
            function validateIndianMobileNumber(field, rules, i, options) {
              console.log("in validateIndianMobileNumber");
              var country = readCookie("country");
              var isValidMobile = true;
              console.log(country);
              var selectedFlagDivTitleString = $(".selected-flag").attr("title");
              var isShowingIndianFlag = false;
              if (selectedFlagDivTitleString) {
                isShowingIndianFlag = selectedFlagDivTitleString.includes("India");
              }
              if (country == "95" && isShowingIndianFlag) {
                if ($("#RegisterEmail").length) {
                  var indianMobileNumber = $("#RegisterEmail").val();
                  console.log("mobilenumber :" + indianMobileNumber);

                  if (!isNumeric(indianMobileNumber)) {
                    isValidMobile = false;
                  }
                  console.log("length : " + indianMobileNumber.length);
                  if (indianMobileNumber.length != 10) {
                    isValidMobile = false;
                  }

                  if (indianMobileNumber.includes(".") || indianMobileNumber.includes("+") || indianMobileNumber.includes("-")) {
                    isValidMobile = false;
                  }
                }

                if ($("#Email").length) {
                  var indianMobileNumber = $("#Email").val();
                  console.log("mobilenumber :" + indianMobileNumber);

                  if (!isNumeric(indianMobileNumber)) {
                    isValidMobile = false;
                  }
                  console.log("length : " + indianMobileNumber.length);
                  if (indianMobileNumber.length != 10) {
                    isValidMobile = false;
                  }

                  if (indianMobileNumber.includes(".") || indianMobileNumber.includes("+") || indianMobileNumber.includes("-")) {
                    isValidMobile = false;
                  }
                }
              }

              if (!isValidMobile) {
                return "Enter 10 digit mobile number.";
              }
            }

            function isNumeric(n) {
              return !isNaN(parseFloat(n)) && isFinite(n);
            }
          </script>
        </div>
      </div>

      <style>
        .special-offer {
          border-color: #f60;
        }

        .special-offer-img {
          padding: 15px;
          background-color: #fafafa;
          border-left: 100px solid #7f7f84;
          margin-bottom: 10px;
          -webkit-box-shadow: 0 25px 52px 1px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 25px 52px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 25px 52px 1px rgba(0, 0, 0, 0.2);
          border-image: url(../../Content/images/temp/special-offer.jpg) 0 100% stretch;
          -moz-border-image: url(../../Content/images/temp/special-offer.jpg) 0 100% stretch;
          -webkit-border-image: url(../../Content/images/temp/special-offer.jpg) 0 100% stretch;
          -o-border-image: url(../../Content/images/temp/special-offer.jpg) 0 100% stretch;
        }
        .paypal-p {
          font-size: 25px;
          font-family: cursive;
          margin-top: 20px;
        }

        .PayPalBanner-Shadow {
          padding: 15px;
          background-color: #fff;
          margin-bottom: 10px;
          -webkit-box-shadow: 0 25px 52px 1px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 25px 52px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.2);
        }

        a.paypal-offer:hover {
          text-decoration: none;
        }
        .PayPalBanner-Shadow:hover {
          background-color: rgba(0, 0, 0, 0.05);
          color: #fff;
        }
        .tuition-viewer-count {
          font-family: "merienda one";
          background: #fff;
          border-radius: 10px;
        }
        #wrap {
          overflow: hidden !important;
        }
        .container-home {
          padding-left: 0px;
          padding-right: 0px;
          margin-bottom: 15px;
        }
        .container-fluid {
          padding-left: 0px;
          padding-right: 0px;
        }
        .social-buttons-dropdown {
          visibility: hidden;
        }
        .views {
          margin-top: 20px;
        }
        /*.logoCaption{
        font-size:12px !important;
    }*/
      </style>


    {% block content %}

    {% endblock %}
</div>
    <style>
        .footer-style {
          color: #ffffff;
          border: 1px solid #fff;
          padding: 10px;
          border-radius: 10px;
          font-size: 17px;
        }
        .mar-style {
          margin-bottom: 10px;
        }
    </style>
  
      <!-- footer-->
      <style>
        .links li::before {
          content: "\00BB";
        }
      </style>
      <div class="container views">
        <div class="row tuition-viewer-count">
          <div class="col-md-4 col-sm-4 page-views-back">
            <h2 class="page-views">
              All India<br /><span class="page-views1">Coverage</span>
            </h2>
          </div>
          <div class="col-md-4 col-sm-4 page-views-back">
            <h2 class="home-tutors">
              8,00,000 +<br /><span class="home-tutors1">Home Tutors</span>
            </h2>
          </div>
          <div class="col-md-4 col-sm-4 page-views-back">
            <h2 class="tuition-jobs">
              6,00,000 +<br /><span class="tuition-jobs1"
                >Tuition Jobs Handled</span
              >
            </h2>
          </div>
        </div>
      </div>
      <div class="container" style="color: black">
        <div
          class="col-lg-12 col-md-12 col-xs-12 text-center hts-contact-block footer-style"
          style="border: 2px solid black"
        >
          <div
            class="col-md-6 mar-style"
            style="color: black; border-right: 2px solid black"
          >
            <div class="up1">
              <div>Useful Links</div>
              <div class="links">
                <li style="list-style: none">Example</li>
                <li style="list-style: none">Example</li>
                <li style="list-style: none">Example</li>
              </div>
            </div>
            <div class="down">
              2024 Copyright Classonclick. All rights reserved
            </div>
          </div>
          <div class="col-md-6" style="color: black">
            <div class="up">
              <div>Contact Number : +91 - 9878989991</div>
              <div class="email">Office Email : info@classonclick.com</div>
              <div>WhatsApp's: +91 98789898999</div>
              <div class="socialmedia">social media icons</div>
            </div>
            <div class="down2">
              <div>
                Refund & cancellation Policy | Privacy Policy | Terms & Conditions
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
  
      <script src="https://twitter.github.io/typeahead.js/releases/0.10.4/typeahead.bundle.min.js"></script>
  
      <script src="https://static.hometutorsite.com/content/js/hts-common-260218.js"></script>
  
      <link
        href="//fonts.googleapis.com/css?family=Noto+Sans%7cOpen%20Sans%7cMerienda+One"
        rel="stylesheet"
        type="text/css"
      />
      <script>
        window.addEventListener("load", function () {
          var conversion_fired = false;
          jQuery("#btn-signup-lp").click(function () {
            gtag("set", "user_data", {
              email: jQuery("#Email").val(),
            });
          });
          $(document).on("ajaxSuccess", function (event, xhr, settings) {
            if (
              jQuery(
                '.looking-for:contains("Please Enter Tuition Requirements")'
              ).is(":visible") &&
              !conversion_fired
            ) {
              gtag("event", "conversion", {
                send_to: "AW-955026931/o3GTCJvCl2oQ85uyxwM",
              });
              conversion_fired = true;
            }
          });
        });
      </script>
    </body>
  </html>
  <div
    class="modal fade"
    id="TuitionFeedBackFollowUpModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="basicModal"
    aria-hidden="true"
  >
    <div class="modal-450 modal-top-align">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            X
          </button>
          <h4 class="modal-title center" id="myModalLabel">
            Please Update Tuition FeedBack
          </h4>
        </div>
        <form
          id="TuitionFeedBackFollowUpModalForm"
          name="AssignToMeModalForm"
          class="form-validation"
        >
          <div class="modal-body">
            <input type="hidden" name="tuitionId" id="tuitionId" value="" />
            <input
              type="hidden"
              name="userProfileId"
              id="userProfileId"
              value=""
            />
            <input
              type="hidden"
              name="viewProfileId"
              id="viewProfileId"
              value=""
            />
            <div class="form-group" id="TuitionFeedBackTextAreaComment">
              <label class="col-md-12 control-label" for="TuitionFeedBackReason"
                >Tuition FeedBack:
              </label>
              <div class="col-sm-12">
                <textarea
                  class="form-control validate[required]"
                  rows="5"
                  id="TuitionFeedBackReason"
                  name="TuitionFeedBackReason"
                  style="width: 300px"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer clear-all">
            <button
              type="button"
              onclick="TuitionFeedBack();"
              class="btn btn-info btn-orange"
            >
              Add FeedBack
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
    function TuitionFeedBack() {
      if (!$("#TuitionFeedBackFollowUpModalForm").validationEngine("validate")) {
        return false;
      }
  
      window.location.href =
        location.protocol +
        "//" +
        location.hostname +
        (location.port ? ":" + location.port : "") +
        "/home/TuitionFeedBack/?tuitionId=" +
        $("#tuitionId").val() +
        "&userProfileId=" +
        $("#userProfileId").val() +
        "&viewProfileId=" +
        $("#viewProfileId").val() +
        "&Comments=" +
        $("#TuitionFeedBackReason").val();
    }
  </script>
  
  <script>
    var tuitionId = 0;
    var userProfileId = 0;
    var viewProfileId = 0;
    var userAuthorized = false;
    $(document).ready(function () {
      var defaultCountryValue = "in";
  
      //$("#country").countrySelect({ defaultCountry: defaultCountryValue });
  
      console.log(userAuthorized);
      if (userAuthorized == "true") {
        $.ajax({
          type: "post",
          url: "/home/GetNotificationCount",
          contentType: false,
          dataType: "json",
          async: false,
          success: function (result) {
            $(".notif-count").text(result.data.length);
            if (result.data.length != 0) {
              for (i = 0; i < result.data.length; i++) {
                console.log(
                  result.data[i].Id,
                  result.data[i].UserProfileId,
                  result.data[i].ViewProfileId
                );
                $(".notif-data").append(
                  "<li>" +
                    "<a onclick = 'IsTuitionFeedBack( " +
                    result.data[i].Id +
                    "," +
                    result.data[i].UserProfileId +
                    "," +
                    result.data[i].ViewProfileId +
                    " )'>" +
                    "TuitionId: " +
                    result.data[i].Id +
                    ", " +
                    "Course: " +
                    result.data[i].Course +
                    ", " +
                    "Locality: " +
                    result.data[i].Locality +
                    ", " +
                    "PostedDate: " +
                    result.data[i].ViewDate +
                    "</a>" +
                    "</li>"
                );
              }
            } else {
              $(".notif-data").append(
                "<li>" + "No Tuition Feedback pending" + "</li>"
              );
              $(".notification-bar-hide").hide();
            }
          },
          error: function (result) {
            console.log("something went wrong");
            $(".notification-bar-hide").hide();
          },
        });
      }
    });
  
    function IsTuitionFeedBack(
      tuitionId = 0,
      userProfileId = 0,
      viewProfileId = 0
    ) {
      console.log(tuitionId, userProfileId, viewProfileId);
      $(".modal-body #tuitionId").val(tuitionId);
      $(".modal-body #userProfileId").val(userProfileId);
      $(".modal-body #viewProfileId").val(viewProfileId);
      $("#TuitionFeedBackFollowUpModal").modal("show");
    }
  </script>
  
  </body>
</html>
